
#start{
    position: center;
}
#restart {
    margin: 1.0rem;
  }
  
  
  caption {
    font-size: 5vw;
    padding: 0.8rem;
  }
  
  
  
  th {
    background-color: #115ff4;
    min-width: 12px;
    min-height: 11px;
    padding: 0;
  }
  
  
  tr {
    background-color: #115ff4;
    width: 12px;
    height: 13px;
    padding: 0;
  }
  
  
  td {
    background-color: #115ff4;
    width: 100px;
    height: 100px;
    padding: 0;
  }
  
  
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
  }

